@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery
@model ProductListViewModel
@{
    ViewBag.Title = "Ürünler";
    var tokenName = Antiforgery.GetTokens(Context).FormFieldName;
    var tokenValue = Antiforgery.GetTokens(Context).RequestToken;
}

<div class="card">
    @*<div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
        </div>*@
    <!-- /.card-header -->
    <div class="card-body">
        <a id="linkNew" asp-controller="Product" asp-action="New" class="btn btn-secondary">
            <i class="fas fa-plus"></i>
            Yeni
        </a>
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>İsim</th>
                    <th>Açıklama</th>
                    <th>Ham Madde</th>
                    <th>Fiyat</th>
                    <th>İndirim Fiyatı</th>
                    <th>Türü</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@Model.Material.FirstOrDefault(x=>x.Id==item.MaterialId).Name</td> @*TODO:product eklenirken name e ulaş*@
                    <td>@item.Price.ToString("₺0.00")</td>
                    @if (item.Discount)
                    {
                    <td>@item.DiscountedPrice?.ToString("₺0.00")</td>
                    }
                    else { 
                    <td>-</td>
                    }
                    <td>@Model.SubCategories.FirstOrDefault(x=>x.Id==item.SubCategoryId).Name</td>@*TODO:product eklenirken name e ulaş*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        |
                        <a href="#" data-delete-id="@item.Id" data-delete-title="@item.Name">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

@section scripts {
    <script>
        $(function () {
            // https://datatables.net/reference/api/row().remove()
            var table = $("#dataTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            });
            
            table.buttons().container().appendTo('#dataTable_wrapper .col-md-6:eq(0)');

            $("#linkNew").prependTo("#dataTable_wrapper .dt-buttons");

            $("body").on("click", "[data-delete-id]", function (event) {
                event.preventDefault();

                var id = $(this).data("delete-id");
                var title = $(this).data("delete-title");
                var tr = $(this).closest("tr");

                if (confirm('Are you sure to delete the meeting "' + title + '"?')) {
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("Delete")",
                        data: { "@tokenName": "@tokenValue", id: id },
                        success: function (data) {
                            table.row(tr).remove().draw();
                        }
                    });
                }

            })
        });
    </script>
} 